<section class="thirteen columns">
    <h1>Certification</h1>
    <article>
        <p>Google cloud certified professional cloud architect, 2020
            <a class="unprinted" href="{{ site.baseurl }}static/assets/gcp.pdf">
                <i class="fa fa-download"></i> Download
            </a>
        </p>
        <br>

        <p>Certified Kubernetes Application Developer (CKAD), 2020
            <a class="unprinted" href="{{ site.baseurl }}static/assets/ckad.pdf">
                <i class="fa fa-download"></i> Download
            </a>
        </p>
        <br>
    </article>
</section>