<section class="thirteen columns">
    <h1>Employments</h1>

    <article>
        <header>
            <h1>Team Lead</h1>
            <span><address>USA, IL, remote</address><time>September 2018 to current</time></span>
        </header>
        <p>
            Microservice based distributed architecture. Docker/Container based
            serverless development, based on GKE and minikube (for development).
            Main language: Ruby (Ruby on Rails framework).
        </p>
        <ul>
            <li>Refactored codebase and reduced average response time by 20%</li>
            <li>Refactored codebase by removing about 10% of codebase while keeping the behaviour.</li>
            <li>Reduced number of bugs and improved code documentation.</li>
            <li>Implemented some architectural improvements, design solutions and integration
            solutions.</li>
            <li>Interviewed a few dozens of candidates to find the best for the team.</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Senior Software Engineer​</h1>
            <span><address>Braga, Portugal</address><time>May 2018 to September 2018</time></span>
        </header>
        <p>
            Microservice based distributed architecture. TDD/BDD with Jest. Deployed
            to AWS with Drone CD/CI (Docker/Container based). Main language: JS
            (NodeJS with KOA framework).
        </p>
        <ul>
            <li>Developed cryptocurrency exchange.</li>
            <li>Refactored codebase by removing about 10% of codebase while keeping the behaviour.</li>
            <li>Extracted code to brand new services to increase core reusability and team
            performance.</li>
            <li>Reduced number of bugs and improved code documentation.</li>
            <li>Implemented some architectural improvements, design solutions and integration
            solutions.</li>
            <li>Improved CI scripts to increase tests pass rate by 20% while providing better feedback
            to the developer.</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Senior Software Engineer​</h1>
            <span><address>Melbourne, Australia, remote</address><time>April 2017 to April 2018</time></span>
        </header>
        <p>
            Monolith architecture. TDD with Minitest, BDD with Capybara. Custom deploy scripts to
            own bare servers with Jenkins CI. Only the development process was Dockerized. Main
            language: Ruby (Ruby on Rails framework).
        </p>
        <ul>
            <li>Migrated large Rails 3.x code base to Rails 5 and rewrote confusing and under-documented parts.</li>
            <li>Removed more than 10 vulnerabilities (like CSRF, SQL injection, stack overflow and others).</li>
            <li>Reduced memory load (for 15%) and CPU consumption in production by removing duplicate dependencies.</li>
            <li>Updated and fixed existing software and system applications.</li>
            <li>Collaborated with team members to create application's system analysis based on a
            client requirements.</li>
            <li>Introduced some hacks, which reduced tests pass time by 50%.</li>
            <li>Fixed lot's of unstable tests in the test suite of 20k+ tests.
            <li>Improved CI.</li>
            <li>Moved development process to Docker.</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Senior Software Engineer​</h1>
            <span><address>Valencia, Spain, remote</address><time>June 2016 to September 2017</time></span>
        </header>
        <p>
            Distributed architecture was based on microservices, I supported 3 of them.
            TDD with Rspec. Deployed to own servers with Capistrano then with GitLab CD/CI
            (Docker/Container based) on Rancher. Main language: Ruby (Ruby on Rails framework).
        </p>
        <ul>
            <li>Supported a few internal micro-services, which helped to orchestrate more than 300 servers for video-streaming services.</li>
            <li>Automatized company code style guide.</li>
            <li>Added CD/CI with Gitlab and moved develop cycle to Docker with further connection
            with Rancher.</li>
            <li>Improved test coverage significantly.</li>
            <li>Developed and supported existing internal CLI tools for Bash and ZSH.</li>
            <li>Created and extended new CLI tools for SSH usage.</li>
            <li>Added Chef recipes and introduced chef roles testing with remote environment over VPN.</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Senior Software Engineer​</h1>
            <span><address>Ijevsk, Russia, remote</address><time>September 2015 to September 2016</time></span>
        </header>
        <p>
            Monolit architecture. TDD with Rspec, BDD with Capybara. Capistrano deploy scripts to PaaS
            (Heroku/Locum). Main language: Ruby (Sinatra/Ruby on Rails framework).
        </p>
        <ul>
            <li>Worked from idea to deployment.</li>
            <li>Created CRM system from scratch with about 100 model and with code quality
            of more than 97 by Rybycritic</li>
            <li>Consulted regularly with customers on project status, proposals and technical issues.</li>
            <li>Collaborated with team members to create applications system analysis based upon
            client requirements.</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Software Engineer​</h1>
            <span><address>Russia, Thailand, Cambodia, Indonesia, etc., remote</address><time>November 2012 to August 2015</time></span>
        </header>
        <p>
            Several 1​ C:Enterprise ​projects with monolit architecture. Languages: 1C8, SQL, PHP, Ruby.
            Development OS: Windows, Server OS: Windows or Linux.
        </p>
        <ul>
            <li>Created new data structures and reports to cover business rules.</li>
            <li>Automated connection with other software (including software from IRS).</li>
            <li>Automated DB maintenance.</li>
            <li>Moved some clients to thin clients (with moving all infrastructure), pun intended.</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>System Architect & CTO​</h1>
            <span><address>Pskov, Russia</address><time>August 2007 to November 2012</time></span>
        </header>
        <p>
            Few ​1C:Enterprise p​ rojects with monolit architecture. Languages: 1C8, SQL.
            Development OS: Windows, Server OS: Windows.
        </p>
        <ul>
            <li>Rebuilt all paperwork in collaboration with financial director and represented it in CRM system​.</li>
            <li>Ruled the team of 6 engineers.</li>
            <li>Automated paperwork, which allowed to reduce the number of staff by 15%.</li>
            <li>Created and maintained information processing cluster with RDP connections.</li>
            <li>Solved network bandwidth limitation problem, moved users to thin clients, which reduced cost of the working place and support.</li>
            <li>Automated connection with other software (including software from IRS).</li>
            <li>Automated DB backups and maintenance.</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>1C Developer & SystemArchitect​</h1>
            <span><address>Pskov, Russia</address><time>January 2005 to August 2007</time></span>
        </header>
        <p>
            Few ​1C:Enterprise p​ rojects with monolit architecture. Languages: 1C7, 1C8, SQL.
            Development OS: Windows, Server OS: Windows, Linux.
        </p>
        <ul>
            <li>Architect 100+ user LAN from workgroup of 20 users.</li>
            <li>Installed and supported mini-ATC telephone system for 40 internal lines.</li>
            <li>Maintained 8 different accounting databases ( some of them I to created from scratch) with different structure.</li>
            <li>Supported remote company branches over dial-up, VPN.</li>
            <li>Created and maintained wired scripts for amortization of different financial transactions, which significantly increased efficiency of collaborators.</li>
            <li>Automated connection with other software (including software from IRS).</li>
            <li>Automated DB backups and maintenance.</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>System Administrator</h1>
            <span><address>Pskov, Russia</address><time>November 2003 to August 2004</time></span>
        </header>
        <ul>
            <li>Administrated distributed network with low throughput networking.</li>
            <li>Upgraded and repaired environment hardware.</li>
            <li>Maintained and installed mini-ATC.</li>
            <li>Supported UBIS products, mostly with remote access.</li>
            <li>Wrote automation scripts for Windows and Linux systems.</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Junior Delphi Developer​</h1>
            <span><address>Pskov, Russia</address><time>May 2003 to August 2003</time></span>
        </header>
        <ul>
            <li>Supported existed products.</li>
            <li>Upgraded and repaired environment hardware. </li>
            <li>Wrote automation scripts for Windows systems.</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Junior Engineer​</h1>
            <span><address>Pskov, Russia</address><time>February 1999 to August 2000</time></span>
        </header>
        <ul>
            <li>Assembled computers and installed OS.</li>
            <li>Repaired broken PC and computer parts.</li>
        </ul>
    </article>
</section>
