<section class="thirteen columns">
  <h1>Professional summary</h1>
  <article>
    <p>
      <em>
        As an experienced Site Reliability Engineer and Back-End Engineer with over 20 years in IT
        development, I bring a wealth of knowledge and expertise to any project. I am a certified
        Google Cloud Architect and am passionate about working with Kubernetes and automating tasks
        to streamline processes. My Github account is in the top 1% of all Ruby accounts on
        GitAwards, and I am a polyglot programmer who is always eager to learn new technologies.
        While my recent focus has been on Ruby and JS, I am also curious about exploring Go. As a
        problem solver, I am highly result-oriented and self-motivated, and I am comfortable
        working remotely with teammates. I believe in delivering quality work that exceeds
        expectations, and I am excited about the opportunity to bring my skills to your
        organization.
      </em>
    </p>
  </article>
</section>