<section class="thirteen columns">
    <h1>Professional summary</h1>
    <article>
        <p>
            <em>
                Experienced back-end developer and DevOps engineer with 15+ years in 
                IT background and 11 years in development. My account is in top 1% of 
                all Ruby accounts on Github (according to GitAwards). I am a programmer
                polyglot always eager to learn new technologies. Most recently I've been
                working with Ruby and JS and now curious about GO. Problem solver,
                result-oriented and self-starter. Comfortable working remotely with
                teammates.
            </em>
        </p>
    </article>
</section>
