

<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Languages</h1>
        </header>
        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i>&nbsp;&nbsp;
        <em>Ruby, Bash</em></p>
        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star" style="color: white"></i>&nbsp;&nbsp;
        <em>GO, JavaScript</em></p>
        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star" style="color: white"></i><i class="far fa-star" style="color: white"></i>&nbsp;&nbsp;
        <em>PHP, C#, 1C7, 1C8, Pascal, Delphi, Basic, Assembler</em></p>
    </article>



    <article>
        <header>
            <h1>Everyday use tools</h1>
        </header>
        <div class="container container-slim">
            <div class="one-third column icons">
                <span><i class="fa fa-cloud"></i> Kubernetes<em>,</em></span>
                <span><i class="fa fa-cloud"></i> Minikube<em>,</em></span>
                <span><i class="fa fa-cloud"></i> GKE (Google cloud)<em>,</em></span>
                <span><i class="fab fa-docker"></i> Docker-compose<em>,</em></span>
                <span><i class="fab fa-docker"></i> Docker<em>,</em></span>
                <span><i class="fas fa-hammer"></i> Helm<em>,</em></span>
                <span><i class="fab fa-gitlab"></i> Gitlab<em>,</em></span>
                <span><i class="fab fa-github"></i> Github<em>,</em></span>
                <span><i class="fab fa-git"></i> Git<em>,</em></span>
                <span><i class="fas fa-terminal"></i> Bash, Zsh</span>
            </div>

            <div class="one-third column icons">
                <span><i class="far fa-gem"></i> Ruby on Rails<em>,</em></span>
                <span><i class="fas fa-database"></i> PostgreSQL<em>,</em></span>
                <span><i class="fas fa-database"></i> Redis<em>,</em></span>
                <span><i class="fas fa-flushed"></i> Sidekiq<em>,</em></span>
                <span><i class="fas fa-tape"></i> Bundler<em>,</em></span>
                <span><i class="fas fa-hammer"></i> Asdf<em>,</em></span>
                <span><i class="fas fa-code-branch"></i> Travis<em>,</em></span>
                <span><i class="fas fa-exclamation"></i> Sentry<em>,</em></span>
                <span><i class="fas fa-notes-medical"></i> Dredd (DDD)<em>,</em></span>
                <span><i class="fas fa-notes-medical"></i> RSpec (TDD)</span>
            </div>

            <div class="one-third column icons">
                <span><i class="fas fa-list-alt"></i> Jira<em>,</em></span>
                <span><i class="fas fa-clipboard-list"></i> Agile<em>,</em></span>
                <span><i class="fas fa-user-clock"></i> Scrum<em>,</em></span>
                <span><i class="fas fa-running"></i> Design Sprints<em>,</em></span>
                <span><i class="fab fa-apple"></i> MacOs<em>,</em></span>
                <span><i class="fab fa-linux"></i> Linux</span>
            </div>
        </div>
    </article>

    <article>
        <header>
            <h1>Other technologies & tools</h1>
        </header>
            <p style='margin-top: 1em !important;'>
            AWS, ActiveAdmin, Ancible, Apache, BDD, Backbone, BB-Marionette, Bootstrap,
            Bower, Capistrano, Chef, CoffeeScript, DigitalOcean, Drone,
            Elasticsearch, Foreman, JWT, Grafana, GraphQ, Grunt, Guard, Gulp,
            Heroku, InfluxDB, JQuery, Jekyll, Jenkins, Liquid, Lokum,
            Memcached, MongoDB, Monit, MySQL, New Relic, Nginx,
            Npm, Packer, PivotalTracker, RailsAdmin, Rancher, React, Sinatra, Skeleton,
            Spree, TDD, Terraform, TestKitchen, Trello, Vagrant, Vue, Webpack,
            Yarn
            </p>
    </article>
</section>