<section class="thirteen columns">
    <h1>Volunteer experiences</h1>
    <article>
        <p>IT technical support of "Encyclopedia of Pskov" (ISBN 5-901374-01-0) book editors team and accounting team, 2004-2008
        <a class="unprinted" href="https://vivaldi.nlr.ru/bx000073371/view#page=7"> link, </a>
        <a class="unprinted" href="{{ site.baseurl }}static/assets/pe.pdf">
                <i class="fa fa-download"></i> Download
        </a>
        </p>
        <br>
        <p>IT technical support of "Teatre of a word" in Pskov, 2007-2011</p>
    </article>
</section>